set -a
: "${IMAGE_ORG:=$USER}"
: "${IMAGE_REGISTRY:=localhost:5001}"
: "${DAEMON_IMG:=${IMAGE_REGISTRY}/${IMAGE_ORG}/ingress-node-firewall-daemon}"
: "${DAEMONSET_IMAGE:=${IMAGE_REGISTRY}/${IMAGE_ORG}/ingress-node-firewall-daemon}"
: "${DAEMONSET_NAMESPACE:=ingress-node-firewall-system}"
: "${KUBECONFIG:=$PWD/hack/kubeconfig}"
: "${IMG:=${IMAGE_REGISTRY}/${IMAGE_ORG}/ingress-node-firewall:latest}"
: "${KUBE_RBAC_PROXY_IMAGE:=${IMAGE_REGISTRY}/openshift/origin-kube-rbac-proxy:latest}"
: "${IMAGE_TAG_BASE:=${IMAGE_REGISTRY}/${IMAGE_ORG}/ingress-nodefw/ingress-node-firewall}"
: "${ACK_GINKGO_DEPRECATIONS:=1.16.5}"
set +a

PATH_add $HOME/sdk/go1.18.5/bin
