export IMAGE_ORG=amcdermo
export DAEMONSET_IMAGE=registry.int.frobware.com/${IMAGE_ORG}/ingress-node-firewall-daemon
export DAEMONSET_NAMESPACE=ingress-node-firewall-system
export KUBECONFIG=$PWD/hack/kubeconfig
# export IMG=registry.int.frobware.com/${IMAGE_ORG}/ingress-node-firewall:latest
export ACK_GINKGO_DEPRECATIONS=1.16.5
export KUBE_RBAC_PROXY_IMAGE=registry.int.frobware.com/openshift/origin-kube-rbac-proxy:latest

